{% load url from future %}
{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <title>{% block head_title %}{% endblock %}</title>
      {% block extra_head %}
      {% endblock %}
      <link href="{% static 'bootstrap/css/simple-sidebar.css' %}" rel="stylesheet">
      <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
       <style media="screen" type="text/css">

body {
    padding-top: 65px;
}

</style>
   </head>
   <body >
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </div><!-- /.container -->


      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="{% static 'bootstrap/js/jquery-2.1.1.min.js' %}"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

   </body>
</html>